.editor {
  background-color: white;
  width: 100%;
  max-width: calc(100% - 251px);
  transition: all 0.2s ease-in-out;
}
.editor__main {
  height: calc(100vh - 44px);
  display: grid;
  grid-template-columns: minmax(96px, 1fr) minmax(auto, 708px) minmax(96px, 1fr);
  padding-bottom: 30vh;
  overflow-y: auto;
}
.editor__main-content {
  padding-top: 112px;

  .editor__main-content-title {
    font-size: 40px;
    line-height: 1.4;
    cursor: text;

    &:focus {
      outline: none;
    }
    &:empty::before {
      content: attr(placeholder);
      color: #e6e5e5;
    }
  }
  .editor__main-content-text {
    line-height: 1.4;
    cursor: text;

    &:focus {
      outline: none;
    }
    &:empty::before {
      content: attr(placeholder);
      color: rgb(55, 53, 47, 0.5);
    }
  }
  .editor__main-content-contentarea {
    padding-top: 5px;
    //하위doc
    .linkWrapper {
      display: flex;
      align-items: center;
      padding: 3px 0 3px 2px;
      border-radius: 4px;
      cursor: pointer;
      &:hover {
        background-color: #efefed;
      }
      div {
        display: flex;
        border-radius: 4px;
        padding: 1px 0;
        &:hover {
          background-color: #dbdbd9;
        }
        &:active {
          background-color: #c4c4c1;
        }
      }
      img {
        filter: invert(57%) sepia(0%) saturate(2387%) hue-rotate(244deg)
          brightness(61%) contrast(76%);
      }
    }
  }
}
.editor__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  padding: 0 12px;
  font-size: 14px;
  position: relative;
  .editor__nav-left {
    display: flex;
    align-items: center;
    .hide {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 6px;
      width: 28px;
      height: 28px;
      margin-right: 3px;
      position: absolute;
      left: -70px;
      cursor: pointer;
      opacity: 0;

      img {
        filter: invert(68%) sepia(6%) saturate(112%) hue-rotate(22deg)
          brightness(96%) contrast(87%);
      }
      &:hover {
        background-color: #e4e4e2;
        img {
          filter: invert(25%) sepia(14%) saturate(238%) hue-rotate(14deg)
            brightness(95%) contrast(93%);
        }
      }
      &:active {
        background-color: #dbdbd9;
      }
    }
  }
  .editor__nav_naviagtor {
    display: flex;
    align-items: center;
    color: #4d483f;
    div {
      display: flex;
      border-radius: 6px;
      padding: 2px 6px;
      cursor: pointer;
      &:hover {
        background-color: #e4e4e2;
      }
      &:active {
        background-color: #dbdbd9;
      }
    }
    span {
      color: rgba(55, 53, 47, 0.5);
    }
  }
}
.editor__nav-addi {
  display: flex;
  li {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    border-radius: 6px;
    cursor: pointer;
    &:hover {
      background-color: #e4e4e2;
    }
    &:active {
      background-color: #dbdbd9;
    }
    img {
      width: 20px;
      filter: invert(36%) sepia(0%) saturate(7375%) hue-rotate(143deg)
        brightness(94%) contrast(78%);
    }
  }
}
