.editor {
  background-color: white;
  width: 100%;
  max-width: calc(100% - 248px);
}
.editor__main {
  display: grid;
  grid-template-columns: minmax(96px, 1fr) minmax(auto, 708px) minmax(96px, 1fr);
}
.editor__main-content {
  padding-top: 112px;
  .editor__main-content-title {
    font-size: 40px;
    line-height: 1.4;
    cursor: text;

    &:focus {
      outline: none;
    }
    &:empty::before {
      content: attr(placeholder);
      color: #e6e5e5;
    }
  }
  .editor__main-content-content {
    line-height: 1.4;
    cursor: text;

    &:focus {
      outline: none;
    }
    &:empty::before {
      content: attr(placeholder);
      color: rgb(55, 53, 47, 0.5);
    }
  }
  .editor__main-content-contentarea{
    padding-top: 5px;
  }
}
.editor__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  padding: 0 12px;
}
.editor__nav-addi {
  display: flex;
  img {
    width: 20px;
  }
}
